/*Large Screen*/
@media all and (min-width:850px) {

    .donatebutton {
        background-color: #4CAF50;
        border: none;
        border-radius: 10px;
        color: white;
        padding: 20px 40px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
    }

    .donatebuttonhover:hover {
        box-shadow: 0 12px 50px 0 rgba(255, 255, 255, 0.7);
    }


    .downloadbutton {
        background-color: #141414;
        border: none;
        border-radius: 10px;
        color: white;
        padding: 20px 40px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
    }

    .downloadbuttonhover:hover {
        box-shadow: 0 12px 50px 0 rgba(255, 255, 255, 0.7);
    }

    .bylawstag {
        font-size: 40px;
        color: black;
        margin-top: 30px;
        text-align: center !important;
    }

    .bylawsimg {
        width: 30vw;
    }

    .brshow {}

    .docscontainer {
        width: 100vw;
        height: calc(100vh - 200px);
        background-color: white !important;
        margin-top: 50px;
        display: flex;
        flex-direction: row;
    }
    
    .doc_onecontainer {
        width: 33.33vw;
        text-align: center;
    }

}

/*Small Screen*/
@media all and (max-width: 849px) {

    .donatebutton {
        background-color: #4CAF50;
        /* Green */
        border: none;
        border-radius: 10px;
        color: white;
        padding: 9px 18px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s;
        /* Safari */
        transition-duration: 0.4s;
    }

    .donatebuttonhover:hover {
        box-shadow: 0 12px 50px 0 rgba(255, 255, 255, 0.7);
    }


    .downloadbutton {
        background-color: #141414;
        /* Green */
        border: none;
        border-radius: 10px;
        color: white;
        padding: 9px 18px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 4vw;
        margin: 4px 2px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s;
        /* Safari */
        transition-duration: 0.4s;
    }

    .downloadbuttonhover:hover {
        box-shadow: 0 12px 50px 0 rgba(255, 255, 255, 0.7);
    }

    .brshow {
        display: none !important;
    }

    .bylawstag {
        font-size: 25px;
        color: black;
        margin-top: 30px;
        text-align: center !important;
    }

    .bylawsimg {
        width: 75vw;
    }

    .docscontainer {
        width: 100vw;
        background-color: white !important;
        margin-top: 50px;
        margin: 50px auto 50px auto;
    }
    
    .doc_onecontainer {
        width: 100vw;
        text-align: center;
    }

}

.centerme {
    margin: auto;
    display: block;
}

.doc_inner {
    background-color: white;
    position: relative !important;
    text-align: center;
}