/*Smart Phone Screem*/
@media all and (max-width: 480px) {

.donorbox{
  max-width: 500px;
  min-width: 250px;
  max-height: none !important;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
}

  .title{
  font-family: 'Outfit', sans-serif !important;
  color: black !important;
  font-size: 20px !important;
  padding-top: 75px;
  text-decoration: underline;
}

.heading{
  font-family: 'Outfit', sans-serif !important;
  color: black !important;
  font-size: 10px !important;
  text-decoration: underline;

}

.topspace{
  margin-top: 200px !important;
}

.showpc{
  display: none !important;
}

.showmobile{
}


}




  /*Any screen bigger than Smart Phone*/
@media all and (min-width:481px) {

  #dialogInvoice {
  width: 400px;
  height: 450px;
  margin: auto;
  position: relative !important;
  top: 35%;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

.left{
  left: 0;
  background-color: white;
  padding-top: 150px !important;
  padding-left: 20px;
  padding-right: 20px;
}

.right{
  right: 0;
  background-color: #7093FF;
}

.title{
  font-family: 'Outfit', sans-serif !important;
  color: black !important;
  font-size: 30px !important;
  padding-top: 75px;
  text-decoration: underline;
}

.heading{
  font-family: 'Outfit', sans-serif !important;
  color: black !important;
  font-size: 23px !important;
  text-decoration: underline;

}

.topspace{
  margin-top: 200px !important;
}

.donorbox{
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.showpc{
}

.showmobile{
  display: none !important;
}

}


