/*Small Screens*/
@media all and (max-width: 480px) {

.donorbox{
  max-width: 500px;
  min-width: 250px;
  max-height: none !important;
  padding-top: 15px;
}

  .title{
  font-family: 'Outfit', sans-serif !important;
  color: black !important;
  font-size: 30px !important;
  padding-top: 75px;
}

.heading{
  font-family: 'Outfit', sans-serif !important;
  color: black !important;
  font-size: 20px !important;

}

.topspace{
  margin-top: 200px !important;
}

.showpc{
  display: none !important;
}

.showmobile{
}

.boxtext{
  font-family: 'Outfit', sans-serif !important;
  color: black !important;
  font-size: 20px !important;
  border-radius: 15px;
  border: none;
  padding:  18px;
  background: #7093FF;
  display: inline-block !important;
  box-shadow: 2px 2px 35px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
  }

  .bodytext{
    font-family: 'Outfit', sans-serif !important;
    color: black !important;
    font-size: 18px !important;
    margin-bottom: 30px;
  }


  .mobilepadding{
    padding-left: 15px;
    padding-right: 15px;
  }


}




  /*Large Screens*/
@media all and (min-width:481px) {

  #dialogInvoice {
  width: 400px;
  height: 450px;
  margin: auto;
  position: relative !important;
  top: 35%;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: scroll;
}

.left{
  left: 0;
  background-color: white;
  padding-top: 150px !important;
  padding-left: 20px;
  padding-right: 20px;
}

.right{
  right: 0;
  background-color: #7093FF;
  background-image: url("lariverbackdrop.jpg");
  background-color: #cccccc;
}


.title{
  font-family: 'Outfit', sans-serif !important;
  color: black !important;
  font-size: 30px !important;
  padding-top: 75px;
}

.topspace{
  margin-top: 200px !important;
}

.donorbox{
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.showpc{
}

.showmobile{
  display: none !important;
}

.boxtext{
  font-family: 'Outfit', sans-serif !important;
  color: black !important;
  font-size: 23px !important;
  border-radius: 15px;
  border: none;
  padding:  10px;
  background: #7093FF;
  display: inline-block !important;
  box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
  }

  .bodytext{
    font-family: 'Outfit', sans-serif !important;
    color: black !important;
    font-size: 20px !important;
    margin-bottom: 30px;
  }


}


.centertext{
  text-align: center !important;
}