
.centerhome {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
}


/*Smart Phone Screen*/
@media all and (max-width: 849px) {

.buttonstyle {
  color:  #989898;
  font-family:'Bebas Neue', cursive;
  font-size:1.8em;
  transition-duration: .25s;
  display: block;
  text-decoration: none;
  margin-bottom: 10px;
}

.buttonstyle:hover {
  color: white;
}

.circlestyle{
width: 175px;

}
.time{
  color: white;
  font-family:'Noto Sans';
  font-size:16px;
  display: block;
  margin-top: 20px;
  margin-bottom: 45px;
}

.watchsmall{
}

.watchbig{
display: none !important;
}



}


/*Large Screen*/
@media all and (min-width:850px) {

.buttonstyle {
  color:  #989898;
  font-family:'Bebas Neue', cursive;
  font-size:2em;
  transition-duration: .25s;
  display: block;
  text-decoration: none;
  margin-bottom: 10px;
}

.buttonstyle:hover {
  color: white;
}

.circlestyle{
width: 190px;

}


.time{
  color: white;
  font-family:'Noto Sans';
  font-size:1em;
  display: block;
  margin-top: 15px;
  margin-bottom: 30px;
}


.watchbig{
}

.watchsmall{
	display: none !important;
}

}