.fit_height {
    height: 100vh;
    width: auto;
}

body,
html {
    overflow: hidden;
}

#page_content {
    display: flex;
    justify-content: center;
}

#bg_video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Center the content */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.4s ease;
    background-image: url(videos/FINALCOMP.webp);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

@media all and (min-width: 849.5px) {
    .links_item {
        font-weight: 100;
        font-size: 2.6vh;
        cursor: none;
    }

    .links_item:hover {
        transform: scale(1.1);
        background-color: rgba(255, 255, 255, 0.2);
    }

    html {
        cursor: none;
    }
}

.links_item {
    margin-bottom: 2vh;
    padding: 1vh 1vw;
    color: white;
    letter-spacing: 0.15em;
    font-family: 'Archivo Black', sans-serif;
    transition: background-color 0.25s ease;
    transition: transform 0.5s ease;
    border-radius: 15px;
    box-sizing: border-box; /* Add box-sizing property */
}

.links_list {
    display: flex;
    flex-direction: column;
}

#cover:hover .links_item {
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}

/*preloader*/
.preloader_homepage {
    align-items: center;
    background: #141414;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    opacity: 1;
}


.cursor-element {
    position: fixed;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    z-index: 1;
    pointer-events: none;
}

.cursor_span {
    position: fixed;
    border: 3px solid #fff;
    border-radius: 100%;
    background: #fff;
    opacity: 0.3;
    width: 40px;
    height: 40px;
    display: block;
    z-index: 20;
    transition: 0.62s;
    transform: translateX(-50%) translateY(-50%);
    transform-origin: top left;
    transition-timing-function: cubic-bezier(.19, .58, .58, .93);
    transition: transform 0.5s ease;

    /* Vendor prefixes for transform property */
    -webkit-transform: translateX(-50%) translateY(-50%);

    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
}