/*Smart Phone Screem*/
@media all and (max-width: 480px) {

  .centerall{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: 90%;
}


  .bodytext {
    font-family: 'Outfit', sans-serif;
    color: black;
    text-align: left;
    font-size: 17px;
    margin-top: 20px !important;
  }

  h1 {
    font-family: 'Outfit', sans-serif !important;
    color: black !important;
    text-align: center !important;
    font-size: 27px !important;
  }


  .space {
    margin-top: 35px;
  }

  .doublespace {
    margin-top: 60px !important;
  }

  .viewsize {
    height: 170vh !important;
  }

.underline2 {
  }

.underline3{
display: inline !important;
border-bottom: 2px solid #141414;
}

.underline4{
display: inline !important;
}


.names{
  font-size: 20px !important;
}

.titles{
  line-break: normal !important;
  font-size: 12px !important;
}

.show{
}

.showcomputer{
display: none !important;
}

.underline {
display: inline !important;
border-bottom: 3px solid #141414;
}

.centerdisc{
  text-align: center !important;
}

.boxed{
  border: 2px solid #141414;
  border-radius: 8px !important;
}

.introduction{
  margin: 20px !important;
}

.aboutusphotosbig{
  display: none;
}

.aboutusphotossmall{
  display: block;
  position: relative;
  width: 115px;
  height: 115px;
  margin: auto;
}


}


  /*Any screen bigger than Smart Phone*/
@media all and (min-width:481px) {

  h1 {
  font-family: 'Outfit', sans-serif !important;
  color: black !important;
  text-align: center !important;
  font-size: 50px !important;
}

  .centerall{
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  max-width: 50%;
  }

  .bodytext {
  font-family: 'Outfit', sans-serif;
  color: black;
  text-align: left;
  font-size: 25px;
  margin-top: 22px !important;
  }

  .space {
    margin-top: 120px;
  }

  .doublespace {
    margin-top: 150px !important;
  }

  .viewsize {
    height: 150vh;
  }

.underline2 {
display: inline !important;
border-bottom: 3px solid #141414;
}

.underline3{
}

.underline4{
display: inline !important;
}

.names{
  font-size: 35px !important;
}

.titles{
  font-size: 15px !important;
}

.show{
  display: none !important;
}

.showcomputer{
display: none !important;
}

.underline {
display: inline !important;
border-bottom: 3px solid #141414;
}

.boxed{
  border: 3px solid #141414;
  border-radius: 10px !important;
}

.introduction{
  margin: 30px !important;
}

.aboutusphotosbig{
 width: 250px;
 height: 250px;
 position: absolute !important;
 left: 5% !important;
}

.aboutusphotossmall{
 display: none;
}



}


#container {
  perspective: 25px;
}

.introback {
  background: rgb(0,0,0);
  background: linear-gradient(317deg, rgba(0,0,0,1) 2%, rgba(255,255,255,1) 7%, rgba(255,255,255,1) 93%, rgba(255,255,255,1) 93%, rgba(0,0,0,1) 98%);
}